.imgTile{
    display: flex;
    justify-content: center;
    border: 1px solid #e8eaf0;
    background-color: #e8eaf0;
    height:100px;
    border-radius: 3px;
    box-shadow: 0 3px 5px lightgrey;
}
.ContentTiles{
    width:50%;
}