<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/members/tab2">BACK</ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Emergency Service</ion-title>
    <ion-avatar  slot="end">
      <ion-img src="../../assets/alarm__alert__light__emergency.png"></ion-img>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item class="ion-margin-top ion-margin-bottom">
    <ion-avatar>
      <ion-img src="../../assets/amb12.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-text-center">Ambulance</ion-label>
    <ion-label class="ion-text-center">108</ion-label>
    <ion-avatar>
      <ion-icon name="call-outline" size="large"></ion-icon>
    </ion-avatar>
  </ion-item>
  <ion-item class="ion-margin-top ion-margin-bottom">
    <ion-avatar>
      <ion-img src="https://dbcti.com/image/mangal.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-text-center">Fire Station</ion-label>
    <ion-label class="ion-text-center">101</ion-label>
    <ion-avatar>
      <ion-icon name="call-outline" size="large"></ion-icon>
    </ion-avatar>
  </ion-item>
  <ion-item class="ion-margin-top ion-margin-bottom">
    <ion-avatar>
      <ion-img src="https://dbcti.com/image/mangal.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-text-center">Police Station</ion-label>
    <ion-label class="ion-text-center">100</ion-label>
    <ion-avatar>
      <ion-icon name="call-outline" size="large"></ion-icon>
    </ion-avatar>
  </ion-item>
  <ion-item class="ion-margin-top ion-margin-bottom">
    <ion-avatar>
      <ion-img src="https://dbcti.com/image/mangal.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-text-center">Emergency</ion-label>
    <ion-label class="ion-text-center">112</ion-label>
    <ion-avatar>
      <ion-icon name="call-outline" size="large"></ion-icon>
    </ion-avatar>
  </ion-item>
  <ion-item class="ion-margin-top ion-margin-bottom">
    <ion-avatar>
      <ion-img src="https://dbcti.com/image/mangal.png"></ion-img>
    </ion-avatar>
    <ion-label class="ion-text-center">Emergency 2</ion-label>
    <ion-label class="ion-text-center">000</ion-label>
    <ion-avatar>
      <ion-icon name="call-outline" size="large"></ion-icon>
    </ion-avatar>
  </ion-item>
</ion-list>
</ion-content>